body
{
    background-color: rgba(0, 0, 0, 0.746);
    color: rgba(255, 255, 255, 0.942);
}
h1
{
    text-align: center;
    
}
#link1,#link2,#dot2,#dot1
{
    font-size: 18px;
    color: rgb(0, 255, 47);
    font: bold;
    text-decoration: none;
}
p
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:var();
    float:inline-start;
}
.samosa,.pavbhaji
{
    background-color: rgb(240, 238, 227);
    color: black;
}
.pavbhaji h1,.samosa h1
{
    text-decoration:dashed;
    color: rgba(0, 0, 0, 0.434);
    font: 800;
}
.samosa p,.pavbhaji p
{
    line-height: 0.5;
    font-weight: 900;
}
.samosa h2,.pavbhaji h2

{
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: black;
}
.pavbhaji img
{
    width: 250px;
    height: 250px;
}



