*
{
    background-color: rgb(247, 255, 240);
}
.invitation
{
    background-color: bisque;
    width: 600px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px black;
    padding: 10px 20px;
    margin:40px auto;
   
}
.invitation .img
{
    box-sizing: border-box;
    width: 375px;
    border: black 2px solid;
    box-shadow: 4px 4px 4px black;


    height:auto;
    margin: 20px 110px;

}
.invitation h1
{
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    text-decoration: underline black solid;
    background-color: bisque;
    
}
.invitation .para
{
    line-height: 1.5;
    margin: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;

    
}
.invitation .list li,.invitation .list
{
    background-color: bisque;

}
.invitation .para p,strong
{
    background-color: bisque;

}

